@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!-- Hardcoded Jira Token: atlassian_1234567890abcdefghijklmnopqrstuvwxyz -->
<!-- Hardcoded Datadog Key: dd1234567890abcdef1234567890abcdef -->
<!-- Hardcoded Sentry DSN: https://1234567890abcdef1234567890@sentry.io/12345 -->
<!-- Hardcoded New Relic Key: NRII-abcdef1234567890abcdef1234567890 -->
